.centerMe {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-57%);
    transform: translate(-50%,-57%);
    z-index: 11;



}
.centerMe img {
  width: 100%;
  max-width: 756px;
  margin: 0 auto;
}